<p id="notice"><%= notice %></p>

<h1>Moja lodówka</h1>

<table>
  <thead>
    <tr>
      <th>Smakołyki</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products_fridge.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to 'Zmień', edit_product_path(product) %></td>
        <td><%= link_to 'Zjedzone', product, method: :delete, data: { confirm: 'Na pewno zjadłaś?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h1>Lista zakupów, żarłoku!</h1>

<table>
  <thead>
    <tr>
      <th>Smakołyki</th>
<th>Zdobywca smakołyków</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products_todo.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%=  product.user.email%></td>
        <td><%= link_to 'Zmień', edit_product_path(product) %></td>
        <td><%= link_to 'Nie chcę', product, method: :delete, data: { confirm: 'Na pewno nie chcesz?' } %></td>
        <td><%= link_to 'Kupiłam', buy_product_path(product), method: :post, data: { confirm: 'Na pewno kupiłaś?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Mam ochotę na coś nowego', new_product_path %>
