<!DOCTYPE html>
<html>
  <head>
    <title>Fridge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if user_signed_in? then%> "Cześć żarłoku <%=current_user.email%>"
<%end %>
    <%= yield %>
  </body>
</html>
